*{
	margin: 0;
	padding: 0;
	cursor: url('cursor.png'), auto !important;
}
body{
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	background: radial-gradient(#f2761e,#ef4921);
}
.box{
	display: flex;
}
.box .eye{
	position: relative;
	top: -100px;
	left: 180px;
	width: 120px;
	height: 120px;
	display: block;
	background: #fff;
	margin: 170px 20px;
	border-radius: 50%;
	box-shadow: 0 5px 45px rgba(0, 0, 0, .2),
				inset 0 0 15px #f2761e,
				inset 0 0 15px #f2761e;
}
.box .eye::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 35px;
	transform: translate(-50%, -50%);
	width: 45px;
	height: 45px;
	background: #000;
	border-radius: 50%;
	border: 10px solid #2196f3;
	box-sizing: border-box;
}
.container{
	position: relative;
	top: 220px;
	left: -160px;
	padding: 70px 40px;
	background: #fff;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0 5px 25px rgba(0,0,0,.2);
}
.container h2{
	color: #111;
	margin-bottom: 45px;
	line-height: 1em;
	font-weight: 500;
	padding-left: 10px;
	border-left: 5px solid #f2761e;
}
.container .inputBox{
	position: relative;
	width: 300px;
	height: 46px;
	margin-bottom: 35px;
}
.container .inputBox:last-child{
	margin-bottom: 0;
}
.container .inputBox input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 1px solid #111;
	background: transparent;
	padding: 10px;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
	font-size: 16px;
	color: #111;
	font-weight: 300;
}
.container .inputBox span{
	position: absolute;
	top: 1px;
	left: 1px;
	padding: 10px;
	display: inline-block;
	font-size: 16px;
	color: #111;
	font-weight: 300;
	transition: 0.5s;
	pointer-events: none;
}
.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span{
	transform: translate(-7px,-30px);
	color: red;
}
.container .inputBox input[type="submit"]{
	background: #2196f3;
	color: #fff;
	border: none;
	cursor: pointer;
}
.container .inputBox input[type="submit"]:hover{
	background: radial-gradient(#f2761e,#ef4921);
}